<div class="page-header min-height-300 border-radius-xl mt-4"
     style="background-image: url('{{ asset('bundles/internationsadmin/img/curved-images/curved0.jpg') }}'); background-position-y: 50%;">
    <span class="mask bg-gradient-primary opacity-6"></span>
</div>